---
/* import { Image } from "astro:assets";
import StarShape2 from "../../assets/shapes/StarShape2.svg";*/
import { Image } from "astro:assets";
import assemblee from "../../assets/business/portrait.jpeg";
import Section from "./Section.astro";
import SectionMotion from "../ui/SectionMotion.astro";
---

<Section id="home">
  <div
    class="w-full lg:w-screen pt-[2rem] lg:pt-[1rem] relative flex flex-col lg:grid lg:grid-flow-col lg:grid-col-5 lg:grid-rows-4 justify-end bg-white gap-4 lg:max-h-screen px-0 lg:px-5"
  >
    <div
      class="flex flex-col lg:p-4 lg:row-span-4 lg:col-span-2 lg:grid pb-0 lg:pb-4 intersect-once intersect:motion-preset-slide-right intersect:motion-duration-2000"
    >
      <div
        class="items-left text-center lg:text-left w-full flex flex-col justify-between h-full"
      >
        <div class="relative py-4 lg:py-10">
          <div class="flex flex-row align-top">
            <h1
              class="pl-4 font-bold text-3xl pt-1 lg:pt-0 lg:text-5xl lg:font-medium leading-none"
            >
              Inspirez, fédérez, épanouissez avec l’Art
            </h1>
          </div>
        </div>
        <div
          class="lg:shadow-2xl lg:bg-purple lg:text-white lg:rounded-xl lg:w-full lg:min-h-[12rem] p-4 lg:p-4 text-xl lg:font-light"
        >
          <p class="text-base lg:text-lg text-justify indent-[2rem]">
            Offrez des expériences uniques qui allient art, culture et cohésion
            d’équipe. <br /> Qu’il s’agisse de conférences interactives, de séances
            immersives ou d’un accompagnement personnalisé, chaque intervention est
            pensée pour enrichir les connaissances, stimuler la créativité et renforcer
            les liens au sein de vos équipes.<br /> En présentiel ou à distance,
            l’art devient un outil puissant pour créer des moments inoubliables et
            fédérateurs.
          </p>
        </div>
        <div
          class="hidden lg:block pl-4 pb-16 text-lg font-light text-center lg:text-left"
        >
          <button
            onclick="window.location.href='#services'"
            class="bg-purple hover:bg-white hover:text-dark hover:border-purple hover:border text-white font-bold py-6 px-14 rounded-full transition duration-500"
          >
            Mes services
          </button>
          <button
            onclick="window.location.href='#contact'"
            class="group hover:bg-purple hover:text-white bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-6 px-14 rounded-full inline-flex items-center transition duration-500"
          >
            <span>Contactez-moi</span>
            <svg
              class="w-6 h-6 ml-2 text-dark group-hover:text-white transition duration-500"
              width="800px"
              height="800px"
              viewBox="0 0 24 24"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"
                fill="currentColor"
                stroke="currentColor"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:col-span-4 pb-8">
      <SectionMotion>
        <div class="row-span-2 pt-[2rem] lg:pt-4">
          <Image
            src={assemblee}
            alt={""}
            class="shadow-2xl lg:rounded-xl lg:w-full lg:max-h-[90vh]"
            loading={"eager"}
          />
          <p
            class="text-justify px-2 lg:px-0 pt-4 text-xs lg:text-sm text-bold bottom-0 text-slate-600"
          >
            Découvrez comment l'art et l'histoire peuvent transformer vos
            séminaires et évènements en moments inoubliables, renforçant
            l'esprit d'équipe et stimulant la créativité.
          </p>
        </div>
      </SectionMotion>
    </div>
    <SectionMotion>
      <div
        class="lg:hidden pl-4 text-base font-light text-left inline-flex pb-12 items-center justify-center"
      >
        <button
          onclick="window.location.href='#services'"
          class="bg-purple text-xs text-white font-bold py-4 px-8 rounded-full"
        >
          Mes services
        </button>
        <button
          onclick="window.location.href='#contact'"
          class="bg-gray-300 text-xs text-gray-800 font-bold py-4 px-8 rounded-full inline-flex items-left"
        >
          <span>Contactez-moi</span>
          <svg
            class="w-4 h-4 ml-2 text-dark"
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"
              fill="currentColor"
              stroke="currentColor"></path>
          </svg>
        </button>
      </div>
    </SectionMotion>
  </div>
</Section>
