---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Section from "./Section.astro";

import { Slider } from "../react/Slider";
import SectionMotion from "../ui/SectionMotion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
const allThemes: CollectionEntry<"blog">[] = await getCollection("blog");

// I need to put the theme with the id 05creator.md in fifth position
const creator = allThemes.find((theme) => theme.id === "creator.md");
const creatorIndex = allThemes.indexOf(creator);
allThemes.splice(creatorIndex, 1);
allThemes.splice(0, 0, creator);
---

<!-- <div class="bg-purple w-full h-full absolute z-[-1]">
  <Image src={landscape} alt="landscape" class="w-full h-full object-cover" />
</div>
 -->
<Section id="cases" withMin noMaxWidth bgColor="bg-purple">
  <div class="pt-[4rem] relative justify-end bg-purple gap-4 lg:px-10">
    <SectionTitle
      sectionTitle="Les thèmes à succès"
      description="Voici la liste des thèmes que nous proposons, venez les découvrir."
      textColor="text-white"
    />
    <SectionMotion> <Slider themes={allThemes} client:load /></SectionMotion>
  </div>
</Section>
