---
/* import { Image } from "astro:assets";
import StarShape2 from "../../assets/shapes/StarShape2.svg";*/
const sectionClass = ` top-0
                      flex justify-center overflow-hidden lg:block 
                      min-h-screen
                      shadow-section
                      
                      `;
---

<script>
  $(document).ready(function () {
    var screenHeight = $(window).height();
    $(window).on("scroll", function () {
      //.05 is a multiplier for the font size
      //14 is the default font size
      $("#mainText").css(
        "font-size",
        Math.min(160 + $(this).scrollTop() * (1 + 0.01), 1000)
      );
      // I need to hide the section if we scroll past the height of the screen
      if ($(this).scrollTop() > screenHeight) {
        $("#homeContainer").css("display", "none");
      } else {
        $("#homeContainer").css("display", "flex");
      }
    });
  });
</script>
<section id="home2" class={sectionClass}>
  <!-- style="background-image: url('/projet-gb/landscapes/landscape1.jpg');" -->

  <div
    class={` w-full fixed min-h-[100vh] flex justify-center items-center`}
    id="homeContainer"
  >
    <video autoplay loop muted id="myVideo">
      <source src="video/anim.mp4" type="video/mp4" />
    </video>
    <div
      class="absolute flex flex-col items-center h-full justify-center w-1/2"
    >
      <h6
        id="mainText"
        0
        class="uppercase text-[10rem] font-bold text-white motion-preset-fade-lg motion-duration-[5000ms]"
        style={{ "text-shadow": "0 0 2px #000" }}
      >
        <!--  style={{
          background: "url('/public/video/anim_2k.gif')",
          "background-size": "cover",
          "-webkit-background-clip": "text",
          "-webkit-text-fill-color": "transparent",
        }} -->
        Artésémys
      </h6>
      <h6
        class="text-[3rem] font-bold text-white text-center motion-preset-fade-lg motion-duration-[5000ms]"
        style={{ "text-shadow": "0 0 2px #000" }}
      >
        Transformez votre équipe avec du coaching culturel
      </h6>
    </div>
  </div>
</section>
