---
const { id, rounded, withMin, bgColor } = Astro.props;
const sectionClass = ` 
                      flex justify-center overflow-hidden lg:block 
                      ${bgColor ? bgColor : "bg-white"} 
                      ${withMin ? "min-h-[100vh]" : ""} 
                      ${rounded ? "rounded-3xl" : ""}
                      shadow-section
                      `;
---

<section id={id} class={sectionClass}>
  <div class={`w-full  mx-auto ${withMin ? "min-h-[100vh]" : ""} `}>
    <slot />
  </div>
</section>
