---
import Footer from "@/components/ui/Footer.astro";
import "../styles/global.css";
import "../styles/gradients.css";
import "../styles/parallax.css";
//import "../styles/tailwind.css";
import Navbar from "@/components/ui/Navbar.astro";
import MainHead from "./MainHead.astro";

const { ...props } = Astro.props;
---

<html lang="en">
  <MainHead {...props} />
  <style>
    html.lenis {
      height: auto;
    }
    .lenis.lenis-smooth {
      scroll-behavior: auto;
    }
    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
    .lenis.lenis-stopped {
      overflow: hidden;
    }
  </style>
  <script src="../utils/lenis"></script>
  <body class="font-bricolage overflow-x-hidden">
    <main>
      <!--   <div
        class="hidden lg:block z-[11] absolute top-0 right-[50%] w-[50%] h-full bg-white transform translate-x-0 origin-right animate-reveal-center-left"
      >
      </div>

      <div
        class="hidden lg:block z-[11] absolute top-0 left-[50%] w-[50%] h-full bg-white transform translate-x-0 origin-left animate-reveal-center-right"
      >
      </div> -->
      <Navbar />
      <slot />
      <Footer />
    </main>
  </body>
</html>
