---
const { sectionTitle, description, link } = Astro.props;
---

<div class="">
  <div
    class="flex flex-col text-center lg:text-left gap-3 sm:flex-col intersect-once intersect:motion-delay-200 intersect:motion-preset-slide-right intersect:motion-duration-2000"
  >
    <h1 class="text-4xl lg:text-6xl font-bold text-gray-600">
      {sectionTitle}
    </h1>
    <p class="w-auto sm:w-[680px]">
      {
        (!link && description) || (
          <a href={link} class="text-dark">
            {description}
          </a>
        )
      }
    </p>
  </div>
  <!--   <div class="flex flex-col gap-3 sm:flex-col">
    <div class="text-center mt-5">
      <span class="inline-block w-1 h-1 rounded-full bg-green ml-1"></span>
      <span class="inline-block w-3 h-1 rounded-full bg-green ml-1"></span>
      <span class="inline-block w-40 h-1 rounded-full bg-green"></span>
      <span class="inline-block w-3 h-1 rounded-full bg-green ml-1"></span>
      <span class="inline-block w-1 h-1 rounded-full bg-green ml-1"></span>
    </div>
  </div> -->
</div>
